body {
  margin: 0;
  font-family:'Roboto', sans-serif;
}

h1 {
  font-size: 35px;
  font-weight: 700;
  margin-top: 0;
}
#top-section {
   background-image: url("images/header-bg.png");
  background-repeat: no-repeat;
  width: 800px;
  margin: auto;
  margin-top: 50px;
}

.half-width {
  width: 40%;
  margin-left: 5%;
  padding-left: 3%;
  float: left;
}

.half-width img {
  width: 100%;
}

section {
  height: 400px;
  padding-bottom: 50px;
}

.highlighted-text {
  color: rgb(245, 14, 129);
}

.link-button {
  text-decoration: none;
  padding: 10px 20px;
  background-image: linear-gradient(180deg,rgb(238, 18, 154), tomato);
  color: white;
  border-radius: 5px;
}

#biography {
  background-image: url("images/biography-bg.png");
  background-repeat: no-repeat;
  width: 800px;
  margin: auto;
}

#showcase {
  background-image: url("images/latest-work-bg.png");
  background-repeat: no-repeat;
  width: 800px;
  margin: auto;
}
#showcase h2 {
  text-align: center;
  margin-bottom: 50px;
}

#showcase .one-third img{
  width: 33.33%;
  float: left;
}

#testimonial {
  text-align: center;
}

#testimonial .small-text {
  font-size: 12px;
  color: gray;
}

#testimonial .name{
  font-weight: 700;
}

#testimonial .comments {
  font-size: 13px;
}

.testimonial1 {
  box-shadow: 10px 10px 40px gray;
  padding: 20px;
  width: 300px;
  margin: auto;
}
